<a href="https://colab.research.google.com/github/rposhala/Recommender-System-on-MovieLens-dataset/blob/main/Item_based_Collaborative_Recommender_System_using_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

## Loading MovieLens dataset

In [2]:
## same item id is same as movie id, item id column is renamed as movie id
column_names1 = ['user id','movie id','rating','timestamp']
dataset = pd.read_csv('ml-100k/u.data', sep='\t',header=None,names=column_names1)
dataset.head()

   user id  movie id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [3]:
d = 'movie id | movie title | release date | video release date | IMDb URL | unknown | Action | Adventure | Animation | Children | Comedy | Crime | Documentary | Drama | Fantasy | Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi | Thriller | War | Western'
column_names2 = d.split(' | ')
print(column_names2)

['movie id', 'movie title', 'release date', 'video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

In [4]:
items_dataset = pd.read_csv('ml-100k/u.item', sep='|',header=None,names=column_names2,encoding='latin-1')
print(items_dataset)

      movie id                                movie title release date  \
0            1                           Toy Story (1995)  01-Jan-1995
1            2                           GoldenEye (1995)  01-Jan-1995
2            3                          Four Rooms (1995)  01-Jan-1995
3            4                          Get Shorty (1995)  01-Jan-1995
4            5                             Copycat (1995)  01-Jan-1995
...        ...                                        ...          ...
1677      1678                          Mat' i syn (1997)  06-Feb-1998
1678      1679                           B. Monkey (1998)  06-Feb-1998
1679      1680                       Sliding Doors (1998)  01-Jan-1998
1680      1681                        You So Crazy (1994)  01-Jan-1994
1681      1682  Scream of Stone (Schrei aus Stein) (1991)  08-Mar-1996

      video release date                                           IMDb URL  \
0                    NaN  http://us.imdb.com/M/title-exact?Toy%20Story%2...
1                    NaN  http://us.imdb.com/M/title-exact?GoldenEye%20(...
2                    NaN  http://us.imdb.com/M/title-exact?Four%20Rooms%...
3                    NaN  http://us.imdb.com/M/title-exact?Get%20Shorty%...
4                    NaN  http://us.imdb.com/M/title-exact?Copycat%20(1995)
...                  ...                                                ...
1677                 NaN  http://us.imdb.com/M/title-exact?Mat%27+i+syn+...
1678                 NaN  http://us.imdb.com/M/title-exact?B%2E+Monkey+(...
1679                 NaN      http://us.imdb.com/Title?Sliding+Doors+(1998)
1680                 NaN  http://us.imdb.com/M/title-exact?You%20So%20Cr...
1681                 NaN  http://us.imdb.com/M/title-exact?Schrei%20aus%...

      unknown  Action  Adventure  Animation  Children  ...  Fantasy  \
0           0       0          0          1         1  ...        0
1           0       1          1          0         0  ...        0
2           0       0          0          0         0  ...        0
3           0       1          0          0         0  ...        0
4           0       0          0          0         0  ...        0
...       ...     ...        ...        ...       ...  ...      ...
1677        0       0          0          0         0  ...        0
1678        0       0          0          0         0  ...        0
1679        0       0          0          0         0  ...        0
1680        0       0          0          0         0  ...        0
1681        0       0          0          0         0  ...        0

      Film-Noir  Horror  Musical  Mystery  Romance  Sci-Fi  Thriller  War  \
0             0       0        0        0        0       0         0    0
1             0       0        0        0        0       0         1    0
2             0       0        0        0        0       0         1    0
3             0       0        0        0        0       0         0    0
4             0       0        0        0        0       0         1    0
...         ...     ...      ...      ...      ...     ...       ...  ...
1677          0       0        0        0        0       0         0    0
1678          0       0        0        0        1       0         1    0
1679          0       0        0        0        1       0         0    0
1680          0       0        0        0        0       0         0    0
1681          0       0        0        0        0       0         0    0

      Western
0           0
1           0
2           0
3           0
4           0
...       ...
1677        0
1678        0
1679        0
1680        0
1681        0

[1682 rows x 24 columns]

In [5]:
movie_dataset = items_dataset[['movie id','movie title']]
movie_dataset.head()

   movie id        movie title
0         1   Toy Story (1995)
1         2   GoldenEye (1995)
2         3  Four Rooms (1995)
3         4  Get Shorty (1995)
4         5     Copycat (1995)

## Merging required datasets

In [6]:
merged_dataset = pd.merge(dataset, movie_dataset, how='inner', on='movie id')
merged_dataset.head()

   user id  movie id  rating  timestamp   movie title
0      196       242       3  881250949  Kolya (1996)
1       63       242       3  875747190  Kolya (1996)
2      226       242       5  883888671  Kolya (1996)
3      154       242       3  879138235  Kolya (1996)
4      306       242       5  876503793  Kolya (1996)

In [7]:
refined_dataset = merged_dataset.groupby(by=['user id','movie title'], as_index=False).agg({"rating":"mean"})
refined_dataset.head()

   user id                          movie title  rating
0        1                101 Dalmatians (1996)     2.0
1        1                  12 Angry Men (1957)     5.0
2        1  20,000 Leagues Under the Sea (1954)     3.0
3        1         2001: A Space Odyssey (1968)     4.0
4        1                    Abyss, The (1989)     3.0

In [8]:
# num_users = len(refined_dataset.rating.unique())
# num_items = len(refined_dataset.movieId.unique())
num_users = len(refined_dataset['user id'].value_counts())
num_items = len(refined_dataset['movie title'].value_counts())
print('Unique number of users in the dataset: {}'.format(num_users))
print('Unique number of movies in the dataset: {}'.format(num_items))

Unique number of users in the dataset: 943
Unique number of movies in the dataset: 1664

# Training KNN model to build item-based collaborative Recommender System.

**Reshaping the dataframe**

We need to transform (reshape in this case) the data in such a way that each row of the dataframe represents a movie and each column represents a different user. So we want the data to be [movies, users] array if movie is the subject where similar movies must be found and [users, movies] array for reverse.

To reshape the dataframe, we will pivot the dataframe to the wide format with movies as rows and users as columns. As we know that not all users watch all the movies, we can expect a lot of missing values. We will have to fill those missing observations with 0s since we are going to perform linear algebra operations (calculating distances between vectors). 

Finally, we transform the values of the dataframe into a scipy sparse matrix for most efficient calculations.

This dataframe is then fed into a KNN model.

## Movie Recommendation using KNN with Input as **User id**, Number of similar users should the model pick and Number of movies you want to get recommended:

1. Reshaping model in such a way that each user has n-dimensional rating space where n is total number of movies

 We will train the KNN model inorder to find the closely matching similar users to the user we give as input and we recommend the top movies which would interest the input user.

In [9]:
# pivot and create movie-user matrix
user_to_movie_df = refined_dataset.pivot(
    index='user id',
     columns='movie title',
      values='rating').fillna(0)

user_to_movie_df.head()

movie title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,2.0,5.0,0.0,0.0,3.0,4.0,0.0,0.0,...,0.0,0.0,0.0,5.0,3.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,2.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0

In [10]:
# transform matrix to scipy sparse matrix
user_to_movie_sparse_df = csr_matrix(user_to_movie_df.values)
user_to_movie_sparse_df

<943x1664 sparse matrix of type '<class 'numpy.float64'>'
	with 99693 stored elements in Compressed Sparse Row format>

**Fitting K-Nearest Neighbours model to the scipy sparse matrix:**

In [11]:
knn_model = NearestNeighbors(metric='cosine', algorithm='brute')
knn_model.fit(user_to_movie_sparse_df)

NearestNeighbors(algorithm='brute', metric='cosine')

In [12]:
## function to find top n similar users of the given input user 
def get_similar_users(user, n = 5):
  ## input to this function is the user and number of top similar users you want.

  knn_input = np.asarray([user_to_movie_df.values[user-1]])  #.reshape(1,-1)
  # knn_input = user_to_movie_df.iloc[0,:].values.reshape(1,-1)
  distances, indices = knn_model.kneighbors(knn_input, n_neighbors=n+1)
  
  print("Top",n,"users who are very much similar to the User-",user, "are: ")
  print(" ")
  for i in range(1,len(distances[0])):
    print(i,". User:", indices[0][i]+1, "separated by distance of",distances[0][i])
  return indices.flatten()[1:] + 1, distances.flatten()[1:]

**Specify User id and Number of similar users we want to consider here**

In [13]:
from pprint import pprint
user_id = 778
print(" Few of movies seen by the User:")
pprint(list(refined_dataset[refined_dataset['user id'] == user_id]['movie title'])[:10])
similar_user_list, distance_list = get_similar_users(user_id,5)

 Few of movies seen by the User:
['Amityville Horror, The (1979)',
 'Angels in the Outfield (1994)',
 'Apocalypse Now (1979)',
 'Apollo 13 (1995)',
 'Austin Powers: International Man of Mystery (1997)',
 'Babe (1995)',
 'Back to the Future (1985)',
 'Blues Brothers, The (1980)',
 'Chasing Amy (1997)',
 'Clerks (1994)']
Top 5 users who are very much similar to the User- 778 are:

1 . User: 124 separated by distance of 0.4586649429539592
2 . User: 933 separated by distance of 0.5581959868865324
3 . User: 56 separated by distance of 0.5858413112292744
4 . User: 738 separated by distance of 0.5916272517988691
5 . User: 653 separated by distance of 0.5991479757406326

**With the help of the KNN model built, we could get desired number of top similar users.**

**Now we will have to pick the top movies to recommend.**

**One way would be by taking the average of the existing ratings given by the similar users and picking the top 10 or 15 movies to recommend to our current user.**

**But I feel recommendation would be more effective if we define weights to ratings by each similar user based on the thier distance from the input user. Defining these weights would give us the accurate recommendations by eliminating the chance of decision manipulation by the users who are relatively very far from the input user.**

In [14]:
similar_user_list, distance_list

(array([124, 933,  56, 738, 653], dtype=int64),
 array([0.45866494, 0.55819599, 0.58584131, 0.59162725, 0.59914798]))

In [15]:
weightage_list = distance_list/np.sum(distance_list)
weightage_list

array([0.16419139, 0.19982119, 0.20971757, 0.2117888 , 0.21448105])

Getting ratings of all movies by derived similar users

In [16]:
mov_rtngs_sim_users = user_to_movie_df.values[similar_user_list]
mov_rtngs_sim_users

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 2., ..., 0., 0., 0.],
       [0., 0., 3., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [17]:
movies_list = user_to_movie_df.columns
movies_list

Index([''Til There Was You (1997)', '1-900 (1994)', '101 Dalmatians (1996)',
       '12 Angry Men (1957)', '187 (1997)', '2 Days in the Valley (1996)',
       '20,000 Leagues Under the Sea (1954)', '2001: A Space Odyssey (1968)',
       '3 Ninjas: High Noon At Mega Mountain (1998)', '39 Steps, The (1935)',
       ...
       'Yankee Zulu (1994)', 'Year of the Horse (1997)', 'You So Crazy (1994)',
       'Young Frankenstein (1974)', 'Young Guns (1988)',
       'Young Guns II (1990)', 'Young Poisoner's Handbook, The (1995)',
       'Zeus and Roxanne (1997)', 'unknown',
       'Á köldum klaka (Cold Fever) (1994)'],
      dtype='object', name='movie title', length=1664)

In [18]:
print("Weightage list shape:", len(weightage_list))
print("mov_rtngs_sim_users shape:", mov_rtngs_sim_users.shape)
print("Number of movies:", len(movies_list))

Weightage list shape: 5
mov_rtngs_sim_users shape: (5, 1664)
Number of movies: 1664

**Broadcasting weightage matrix to similar user rating matrix. so that it gets compatible for matrix operations**

In [19]:
weightage_list = weightage_list[:,np.newaxis] + np.zeros(len(movies_list))
weightage_list.shape

(5, 1664)

In [20]:
new_rating_matrix = weightage_list*mov_rtngs_sim_users
mean_rating_list = new_rating_matrix.sum(axis =0)
mean_rating_list

array([0.        , 0.        , 1.02879509, ..., 0.        , 0.        ,
       0.        ])

In [21]:
# from pprint import pprint
def recommend_movies(n):
  n = min(len(mean_rating_list),n)
  # print(np.argsort(mean_rating_list)[::-1][:n])
  pprint(list(movies_list[np.argsort(mean_rating_list)[::-1][:n]]))

In [22]:
print("Movies recommended based on similar users are: ")
recommend_movies(5)

Movies recommended based on similar users are:
['Star Wars (1977)',
 'Terminator, The (1984)',
 "Schindler's List (1993)",
 'Fugitive, The (1993)',
 'Forrest Gump (1994)']

It had been observed that, this recommendation system built can be made more efficient as it has few drawbacks.

**Drawbacks:**

**1.** But this recommendation system has a drawback, it also **recommends movies which are already seen by the given input User.**

**2.** And also there is a possibility of recommending the **movies which are not at all seen by any of the similar users.**

**Above drawbacks are addressed and a new recommender system with modification is built**

Below function is defined to remove the movies which are already seen the current user and not at all seen by any of the similar users.

In [23]:

def filtered_movie_recommendations(n):
  first_zero_index = np.where(mean_rating_list == 0)[0][-1]
  sortd_index = np.argsort(mean_rating_list)[::-1]
  sortd_index = sortd_index[:list(sortd_index).index(first_zero_index)]
  n = min(len(sortd_index),n)
  movies_watched = list(refined_dataset[refined_dataset['user id'] == user_id]['movie title'])
  filtered_movie_list = list(movies_list[sortd_index])
  count = 0
  final_movie_list = []
  for i in filtered_movie_list:
    if i not in movies_watched:
      count+=1
      final_movie_list.append(i)
    if count == n:
      break
  if count == 0:
    print("There are no movies left which are not seen by the input users and seen by similar users. May be increasing the number of similar users who are to be considered may give a chance of suggesting an unseen good movie.")
  else:
    pprint(final_movie_list)

In [24]:
filtered_movie_recommendations(10)

['Star Wars (1977)',
 "Schindler's List (1993)",
 'Princess Bride, The (1987)',
 'Empire Strikes Back, The (1980)',
 'Return of the Jedi (1983)',
 'Fargo (1996)',
 'Dances with Wolves (1990)',
 'Toy Story (1995)',
 'Braveheart (1995)',
 'Star Trek: First Contact (1996)']

Coding up all of the above individual cells into a function.

Giving Input as **User id, Number of similar Users to be considered, Number of top movie we want to recommend**

In [25]:
from pprint import pprint

def recommender_system(user_id, n_similar_users, n_movies): #, user_to_movie_df, knn_model):
  
  print("Movie seen by the User:")
  pprint(list(refined_dataset[refined_dataset['user id'] == user_id]['movie title']))
  print("")

  # def get_similar_users(user, user_to_movie_df, knn_model, n = 5):
  def get_similar_users(user, n = 5):
    
    knn_input = np.asarray([user_to_movie_df.values[user-1]])
    
    distances, indices = knn_model.kneighbors(knn_input, n_neighbors=n+1)
    
    print("Top",n,"users who are very much similar to the User-",user, "are: ")
    print(" ")

    for i in range(1,len(distances[0])):
      print(i,". User:", indices[0][i]+1, "separated by distance of",distances[0][i])
    print("")
    return indices.flatten()[1:] + 1, distances.flatten()[1:]


  def filtered_movie_recommendations(n = 10):
  
    first_zero_index = np.where(mean_rating_list == 0)[0][-1]
    sortd_index = np.argsort(mean_rating_list)[::-1]
    sortd_index = sortd_index[:list(sortd_index).index(first_zero_index)]
    n = min(len(sortd_index),n)
    movies_watched = list(refined_dataset[refined_dataset['user id'] == user_id]['movie title'])
    filtered_movie_list = list(movies_list[sortd_index])
    count = 0
    final_movie_list = []
    for i in filtered_movie_list:
      if i not in movies_watched:
        count+=1
        final_movie_list.append(i)
      if count == n:
        break
    if count == 0:
      print("There are no movies left which are not seen by the input users and seen by similar users. May be increasing the number of similar users who are to be considered may give a chance of suggesting an unseen good movie.")
    else:
      pprint(final_movie_list)

  similar_user_list, distance_list = get_similar_users(user_id,n_similar_users)
  weightage_list = distance_list/np.sum(distance_list)
  mov_rtngs_sim_users = user_to_movie_df.values[similar_user_list]
  movies_list = user_to_movie_df.columns
  weightage_list = weightage_list[:,np.newaxis] + np.zeros(len(movies_list))
  new_rating_matrix = weightage_list*mov_rtngs_sim_users
  mean_rating_list = new_rating_matrix.sum(axis =0)
  print("")
  print("Movies recommended based on similar users are: ")
  print("")
  filtered_movie_recommendations(n_movies)

In [26]:
print("Enter user id")
user_id= 1
print("number of similar users to be considered")
sim_users = 10
print("Enter number of movies to be recommended:")
n_movies = 20
recommender_system(user_id,sim_users,n_movies)
# recommender_system(300, 15,15)

Enter user id
number of similar users to be considered
Enter number of movies to be recommended:
Movie seen by the User:
['101 Dalmatians (1996)',
 '12 Angry Men (1957)',
 '20,000 Leagues Under the Sea (1954)',
 '2001: A Space Odyssey (1968)',
 'Abyss, The (1989)',
 'Ace Ventura: Pet Detective (1994)',
 'Air Bud (1997)',
 'Akira (1988)',
 'Aladdin (1992)',
 'Alien (1979)',
 'Aliens (1986)',
 'All Dogs Go to Heaven 2 (1996)',
 'Amadeus (1984)',
 'Angels and Insects (1995)',
 "Antonia's Line (1995)",
 'Apocalypse Now (1979)',
 'Apollo 13 (1995)',
 'Aristocats, The (1970)',
 'Army of Darkness (1993)',
 'Austin Powers: International Man of Mystery (1997)',
 'Babe (1995)',
 'Back to the Future (1985)',
 'Bad Boys (1995)',
 'Basic Instinct (1992)',
 'Batman & Robin (1997)',
 'Batman Forever (1995)',
 'Batman Returns (1992)',
 'Beavis and Butt-head Do America (1996)',
 'Bedknobs and Broomsticks (1971)',
 'Belle de jour (1967)',
 'Big Night (1996)',
 'Billy Madison (1995)',
 'Birdcage, The (1996)',
 'Blade Runner (1982)',
 'Blues Brothers, The (1980)',
 'Bound (1996)',
 "Bram Stoker's Dracula (1992)",
 'Braveheart (1995)',
 'Brazil (1985)',
 "Breakfast at Tiffany's (1961)",
 'Breaking the Waves (1996)',
 'Bridge on the River Kwai, The (1957)',
 'Brother Minister: The Assassination of Malcolm X (1994)',
 'Brothers McMullen, The (1995)',
 'Cable Guy, The (1996)',
 'Cape Fear (1991)',
 "Carlito's Way (1993)",
 'Chasing Amy (1997)',
 'Cinema Paradiso (1988)',
 'Citizen Kane (1941)',
 'Citizen Ruth (1996)',
 'Clerks (1994)',
 'Clockwork Orange, A (1971)',
 'Cold Comfort Farm (1995)',
 'Contact (1997)',
 'Copycat (1995)',
 'Crimson Tide (1995)',
 'Crow, The (1994)',
 'Crumb (1994)',
 'Cyrano de Bergerac (1990)',
 'D3: The Mighty Ducks (1996)',
 'Dances with Wolves (1990)',
 'Dead Man Walking (1995)',
 'Dead Poets Society (1989)',
 'Delicatessen (1991)',
 'Desperado (1995)',
 "Devil's Own, The (1997)",
 'Diabolique (1996)',
 'Die Hard (1988)',
 'Die Hard 2 (1990)',
 'Dirty Dancing (1987)',
 'Disclosure (1994)',
 'Dolores Claiborne (1994)',
 'Doom Generation, The (1995)',
 'Eat Drink Man Woman (1994)',
 'Ed Wood (1994)',
 'Empire Strikes Back, The (1980)',
 'Event Horizon (1997)',
 'Evil Dead II (1987)',
 'Exotica (1994)',
 'Fargo (1996)',
 'Faster Pussycat! Kill! Kill! (1965)',
 'Field of Dreams (1989)',
 'Fifth Element, The (1997)',
 'Firm, The (1993)',
 'Fish Called Wanda, A (1988)',
 'Flipper (1996)',
 'Forrest Gump (1994)',
 'Four Rooms (1995)',
 'Four Weddings and a Funeral (1994)',
 'Free Willy (1993)',
 'Free Willy 2: The Adventure Home (1995)',
 'French Twist (Gazon maudit) (1995)',
 'Frighteners, The (1996)',
 'From Dusk Till Dawn (1996)',
 'Fugitive, The (1993)',
 'Full Metal Jacket (1987)',
 'Full Monty, The (1997)',
 'Gattaca (1997)',
 'George of the Jungle (1997)',
 'Get Shorty (1995)',
 'Ghost and the Darkness, The (1996)',
 'Glengarry Glen Ross (1992)',
 'Godfather, The (1972)',
 'Godfather: Part II, The (1974)',
 'GoldenEye (1995)',
 'Gone with the Wind (1939)',
 'Good Will Hunting (1997)',
 'Good, The Bad and The Ugly, The (1966)',
 'GoodFellas (1990)',
 'Graduate, The (1967)',
 'Grand Day Out, A (1992)',
 'Grosse Pointe Blank (1997)',
 'Groundhog Day (1993)',
 'Haunted World of Edward D. Wood Jr., The (1995)',
 'Heavy Metal (1981)',
 'Henry V (1989)',
 'Home Alone (1990)',
 'Homeward Bound: The Incredible Journey (1993)',
 'Hoop Dreams (1994)',
 'Horseman on the Roof, The (Hussard sur le toit, Le) (1995)',
 'Hot Shots! Part Deux (1993)',
 'Hudsucker Proxy, The (1994)',
 'Hunt for Red October, The (1990)',
 'I.Q. (1994)',
 'In the Company of Men (1997)',
 'Independence Day (ID4) (1996)',
 'Indiana Jones and the Last Crusade (1989)',
 'Jaws (1975)',
 'Jean de Florette (1986)',
 'Jerry Maguire (1996)',
 'Jude (1996)',
 'Jungle2Jungle (1997)',
 'Jurassic Park (1993)',
 'Kansas City (1996)',
 'Kids in the Hall: Brain Candy (1996)',
 'Kolya (1996)',
 'Kull the Conqueror (1997)',
 'Last of the Mohicans, The (1992)',
 'Lawnmower Man, The (1992)',
 'Legends of the Fall (1994)',
 'Lion King, The (1994)',
 'Lone Star (1996)',
 'Long Kiss Goodnight, The (1996)',
 'Lost World: Jurassic Park, The (1997)',
 'Love Bug, The (1969)',
 'M*A*S*H (1970)',
 'Mad Love (1995)',
 'Madness of King George, The (1994)',
 'Manon of the Spring (Manon des sources) (1986)',
 'Mars Attacks! (1996)',
 'Mask, The (1994)',
 'Maverick (1994)',
 'Maya Lin: A Strong Clear Vision (1994)',
 'Men in Black (1997)',
 'Mighty Aphrodite (1995)',
 'Mimic (1997)',
 'Mirror Has Two Faces, The (1996)',
 'Moll Flanders (1996)',
 'Monty Python and the Holy Grail (1974)',
 "Monty Python's Life of Brian (1979)",
 "Mr. Holland's Opus (1995)",
 'Mr. Smith Goes to Washington (1939)',
 'Much Ado About Nothing (1993)',
 'Muppet Treasure Island (1996)',
 "My Best Friend's Wedding (1997)",
 'Mystery Science Theater 3000: The Movie (1996)',
 'Nadja (1994)',
 'Natural Born Killers (1994)',
 'Net, The (1995)',
 'Nightmare Before Christmas, The (1993)',
 'Nightmare on Elm Street, A (1984)',
 'Nikita (La Femme Nikita) (1990)',
 'On Golden Pond (1981)',
 'Operation Dumbo Drop (1995)',
 'Outbreak (1995)',
 'Patton (1970)',
 'Phenomenon (1996)',
 'Pillow Book, The (1995)',
 'Pink Floyd - The Wall (1982)',
 'Platoon (1986)',
 'Postino, Il (1994)',
 'Priest (1994)',
 'Princess Bride, The (1987)',
 'Private Benjamin (1980)',
 'Professional, The (1994)',
 'Psycho (1960)',
 'Pulp Fiction (1994)',
 'Quiz Show (1994)',
 'Raging Bull (1980)',
 'Raiders of the Lost Ark (1981)',
 'Raising Arizona (1987)',
 'Ref, The (1994)',
 'Remains of the Day, The (1993)',
 'Reservoir Dogs (1992)',
 'Return of the Jedi (1983)',
 'Return of the Pink Panther, The (1974)',
 'Richard III (1995)',
 'Ridicule (1996)',
 'Right Stuff, The (1983)',
 "Robert A. Heinlein's The Puppet Masters (1994)",
 'Rock, The (1996)',
 'Room with a View, A (1986)',
 'Rumble in the Bronx (1995)',
 'Santa Clause, The (1994)',
 'Searching for Bobby Fischer (1993)',
 'Seven (Se7en) (1995)',
 'Sgt. Bilko (1996)',
 'Shall We Dance? (1996)',
 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)',
 'Shawshank Redemption, The (1994)',
 'Shining, The (1980)',
 'Silence of the Lambs, The (1991)',
 'Sleeper (1973)',
 'Sleepless in Seattle (1993)',
 'Sling Blade (1996)',
 "Smilla's Sense of Snow (1997)",
 'Sneakers (1992)',
 'Snow White and the Seven Dwarfs (1937)',
 'So I Married an Axe Murderer (1993)',
 'Sound of Music, The (1965)',
 'Spitfire Grill, The (1996)',
 'Star Trek III: The Search for Spock (1984)',
 'Star Trek IV: The Voyage Home (1986)',
 'Star Trek VI: The Undiscovered Country (1991)',
 'Star Trek: First Contact (1996)',
 'Star Trek: The Wrath of Khan (1982)',
 'Star Wars (1977)',
 'Stargate (1994)',
 'Starship Troopers (1997)',
 'Steel (1997)',
 'Sting, The (1973)',
 'Strange Days (1995)',
 'Striptease (1996)',
 'Supercop (1992)',
 'Swingers (1996)',
 'Taxi Driver (1976)',
 'Terminator 2: Judgment Day (1991)',
 'Terminator, The (1984)',
 'Theodore Rex (1995)',
 'This Is Spinal Tap (1984)',
 'Three Colors: Blue (1993)',
 'Three Colors: Red (1994)',
 'Three Colors: White (1994)',
 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)',
 'Top Gun (1986)',
 'Toy Story (1995)',
 'True Romance (1993)',
 'Truth About Cats & Dogs, The (1996)',
 'Turbo: A Power Rangers Movie (1997)',
 'Twelve Monkeys (1995)',
 'Twister (1996)',
 'Unbearable Lightness of Being, The (1988)',
 'Under Siege (1992)',
 'Unforgiven (1992)',
 'Unhook the Stars (1996)',
 'Usual Suspects, The (1995)',
 'Wallace & Gromit: The Best of Aardman Animation (1996)',
 "Weekend at Bernie's (1989)",
 'Welcome to the Dollhouse (1995)',
 "What's Eating Gilbert Grape (1993)",
 'When Harry Met Sally... (1989)',
 'When the Cats Away (Chacun cherche son chat) (1996)',
 'While You Were Sleeping (1995)',
 'White Balloon, The (1995)',
 'Willy Wonka and the Chocolate Factory (1971)',
 'Wizard of Oz, The (1939)',
 'Wrong Trousers, The (1993)',
 'Young Frankenstein (1974)',
 'Young Guns (1988)',
 'unknown']

Top 10 users who are very much similar to the User- 1 are:

1 . User: 916 separated by distance of 0.43370684572283824
2 . User: 864 separated by distance of 0.45072303405995173
3 . User: 457 separated by distance of 0.4586364637463427
4 . User: 92 separated by distance of 0.4605851707991683
5 . User: 268 separated by distance of 0.461117118474631
6 . User: 435 separated by distance of 0.4640394330249238
7 . User: 738 separated by distance of 0.47130499903549017
8 . User: 429 separated by distance of 0.4723895591842838
9 . User: 303 separated by distance of 0.476612533107849
10 . User: 276 separated by distance of 0.47672263974238094


Movies recommended based on similar users are:

['Leaving Las Vegas (1995)',
 'L.A. Confidential (1997)',
 'Heat (1995)',
 "Schindler's List (1993)",
 'Sleepers (1996)',
 'Secrets & Lies (1996)',
 'English Patient, The (1996)',
 'Ransom (1996)',
 'Scream (1996)',
 'Donnie Brasco (1997)',
 'That Thing You Do! (1996)',
 'Face/Off (1997)',
 'Sense and Sensibility (1995)',
 'Annie Hall (1977)',
 'Rear Window (1954)',
 'Happy Gilmore (1996)',
 'Trainspotting (1996)',
 'Mission: Impossible (1996)',
 'Boot, Das (1981)',
 'Conspiracy Theory (1997)']

## Movie Recommendation using KNN with Input as **Movie Name** and Number of movies you want to get recommended:


 We will train the KNN model inorder to find the closely matching similar movies to the movie we give as input and we recommend the top movies which would more closely align to the movie we have given.

In [27]:
# pivot and create movie-user matrix
movie_to_user_df = refined_dataset.pivot(
     index='movie title',
   columns='user id',
      values='rating').fillna(0)

movie_to_user_df.head()

user id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
movie title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1-900 (1994),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101 Dalmatians (1996),2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0
12 Angry Men (1957),5.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
187 (1997),0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
# transform matrix to scipy sparse matrix
movie_to_user_sparse_df = csr_matrix(movie_to_user_df.values)
movie_to_user_sparse_df

<1664x943 sparse matrix of type '<class 'numpy.float64'>'
	with 99693 stored elements in Compressed Sparse Row format>

Extracting movie names into a list:

In [29]:
movies_list = list(movie_to_user_df.index)
movies_list[:10]

["'Til There Was You (1997)",
 '1-900 (1994)',
 '101 Dalmatians (1996)',
 '12 Angry Men (1957)',
 '187 (1997)',
 '2 Days in the Valley (1996)',
 '20,000 Leagues Under the Sea (1954)',
 '2001: A Space Odyssey (1968)',
 '3 Ninjas: High Noon At Mega Mountain (1998)',
 '39 Steps, The (1935)']

Creating a dictionary with movie name as key and its index from the list as value:

In [30]:
movie_dict = {movie : index for index, movie in enumerate(movies_list)}
print(movie_dict)

{"'Til There Was You (1997)": 0, '1-900 (1994)': 1, '101 Dalmatians (1996)': 2, '12 Angry Men (1957)': 3, '187 (1997)': 4, '2 Days in the Valley (1996)': 5, '20,000 Leagues Under the Sea (1954)': 6, '2001: A Space Odyssey (1968)': 7, '3 Ninjas: High Noon At Mega Mountain (1998)': 8, '39 Steps, The (1935)': 9, '8 1/2 (1963)': 10, '8 Heads in a Duffel Bag (1997)': 11, '8 Seconds (1994)': 12, 'A Chef in Love (1996)': 13, 'Above the Rim (1994)': 14, 'Absolute Power (1997)': 15, 'Abyss, The (1989)': 16, 'Ace Ventura: Pet Detective (1994)': 17, 'Ace Ventura: When Nature Calls (1995)': 18, 'Across the Sea of Time (1995)': 19, 'Addams Family Values (1993)': 20, 'Addicted to Love (1997)': 21, 'Addiction, The (1995)': 22, 'Adventures of Pinocchio, The (1996)': 23, 'Adventures of Priscilla, Queen of the Desert, The (1994)': 24, 'Adventures of Robin Hood, The (1938)': 25, 'Affair to Remember, An (1957)': 26, 'African Queen, The (1951)': 27, 'Afterglow (1997)': 28, 'Age of Innocence, The (1993)': 29, 'Aiqing wansui (1994)': 30, 'Air Bud (1997)': 31, 'Air Force One (1997)': 32, 'Air Up There, The (1994)': 33, 'Airheads (1994)': 34, 'Akira (1988)': 35, 'Aladdin (1992)': 36, 'Aladdin and the King of Thieves (1996)': 37, 'Alaska (1996)': 38, 'Albino Alligator (1996)': 39, 'Alice in Wonderland (1951)': 40, 'Alien (1979)': 41, 'Alien 3 (1992)': 42, 'Alien: Resurrection (1997)': 43, 'Aliens (1986)': 44, 'All About Eve (1950)': 45, 'All Dogs Go to Heaven 2 (1996)': 46, 'All Over Me (1997)': 47, 'All Things Fair (1996)': 48, 'Alphaville (1965)': 49, 'Amadeus (1984)': 50, 'Amateur (1994)': 51, 'Amazing Panda Adventure, The (1995)': 52, 'American Buffalo (1996)': 53, 'American Dream (1990)': 54, 'American President, The (1995)': 55, 'American Strays (1996)': 56, 'American Werewolf in London, An (1981)': 57, 'American in Paris, An (1951)': 58, 'Amistad (1997)': 59, "Amityville 1992: It's About Time (1992)": 60, 'Amityville 3-D (1983)': 61, 'Amityville Curse, The (1990)': 62, 'Amityville Horror, The (1979)': 63, 'Amityville II: The Possession (1982)': 64, 'Amityville: A New Generation (1993)': 65, 'Amityville: Dollhouse (1996)': 66, 'Amos & Andrew (1993)': 67, 'An Unforgettable Summer (1994)': 68, 'Anaconda (1997)': 69, 'Anastasia (1997)': 70, 'Andre (1994)': 71, 'Angel Baby (1995)': 72, 'Angel and the Badman (1947)': 73, 'Angel on My Shoulder (1946)': 74, 'Angela (1995)': 75, 'Angels and Insects (1995)': 76, 'Angels in the Outfield (1994)': 77, 'Angus (1995)': 78, 'Anna (1996)': 79, 'Anna Karenina (1997)': 80, 'Anne Frank Remembered (1995)': 81, 'Annie Hall (1977)': 82, 'Another Stakeout (1993)': 83, "Antonia's Line (1995)": 84, 'Aparajito (1956)': 85, 'Apartment, The (1960)': 86, 'Apocalypse Now (1979)': 87, 'Apollo 13 (1995)': 88, 'Apostle, The (1997)': 89, 'Apple Dumpling Gang, The (1975)': 90, "April Fool's Day (1986)": 91, 'Apt Pupil (1998)': 92, 'Aristocats, The (1970)': 93, 'Army of Darkness (1993)': 94, 'Around the World in 80 Days (1956)': 95, 'Arrival, The (1996)': 96, 'Arsenic and Old Lace (1944)': 97, 'As Good As It Gets (1997)': 98, 'Assassins (1995)': 99, 'Assignment, The (1997)': 100, 'Associate, The (1996)': 101, 'Audrey Rose (1977)': 102, 'August (1996)': 103, 'Austin Powers: International Man of Mystery (1997)': 104, 'Awfully Big Adventure, An (1995)': 105, 'Ayn Rand: A Sense of Life (1997)': 106, 'B*A*P*S (1997)': 107, 'B. Monkey (1998)': 108, 'Babe (1995)': 109, 'Baby-Sitters Club, The (1995)': 110, 'Babyfever (1994)': 111, 'Babysitter, The (1995)': 112, 'Back to the Future (1985)': 113, 'Backbeat (1993)': 114, 'Bad Boys (1995)': 115, 'Bad Company (1995)': 116, 'Bad Girls (1994)': 117, 'Bad Moon (1996)': 118, 'Bad Taste (1987)': 119, 'Ballad of Narayama, The (Narayama Bushiko) (1958)': 120, 'Balto (1995)': 121, 'Bananas (1971)': 122, 'Band Wagon, The (1953)': 123, 'Barb Wire (1996)': 124, 'Barbarella (1968)': 125, 'Barcelona (1994)': 126, 'Basic Instinct (1992)': 127, 'Basketball Diaries, The (1995)': 128, 'Basquiat (1996)': 129, 'Bastard Out of Carolina (1996)': 130, 'Batman & Robin (1997)': 131, 'Batman (1989)': 132, 'Batman Forever (1995)': 133, 'Batman Returns (1992)': 134, 'Baton Rouge (1988)': 135, 'Bean (1997)': 136, 'Beans of Egypt, Maine, The (1994)': 137, 'Beat the Devil (1954)': 138, 'Beautician and the Beast, The (1997)': 139, 'Beautiful Girls (1996)': 140, 'Beautiful Thing (1996)': 141, 'Beauty and the Beast (1991)': 142, 'Beavis and Butt-head Do America (1996)': 143, 'Bed of Roses (1996)': 144, 'Bedknobs and Broomsticks (1971)': 145, 'Before Sunrise (1995)': 146, 'Before and After (1996)': 147, 'Before the Rain (Pred dozhdot) (1994)': 148, 'Being Human (1993)': 149, 'Being There (1979)': 150, 'Believers, The (1987)': 151, 'Belle de jour (1967)': 152, 'Ben-Hur (1959)': 153, 'Benny & Joon (1993)': 154, 'Bent (1997)': 155, 'Best Men (1997)': 156, 'Best of the Best 3: No Turning Back (1995)': 157, 'Better Off Dead... (1985)': 158, 'Beverly Hillbillies, The (1993)': 159, 'Beverly Hills Cop III (1994)': 160, 'Beverly Hills Ninja (1997)': 161, 'Bewegte Mann, Der (1994)': 162, 'Beyond Bedlam (1993)': 163, 'Beyond Rangoon (1995)': 164, 'Bhaji on the Beach (1993)': 165, 'Big Bang Theory, The (1994)': 166, 'Big Blue, The (Grand bleu, Le) (1988)': 167, 'Big Bully (1996)': 168, 'Big Green, The (1995)': 169, 'Big Lebowski, The (1998)': 170, 'Big Night (1996)': 171, 'Big One, The (1997)': 172, 'Big Sleep, The (1946)': 173, 'Big Squeeze, The (1996)': 174, 'Billy Madison (1995)': 175, 'Bio-Dome (1996)': 176, 'Bird of Prey (1996)': 177, 'Birdcage, The (1996)': 178, 'Birds, The (1963)': 179, 'Bitter Moon (1992)': 180, 'Bitter Sugar (Azucar Amargo) (1996)': 181, 'Black Beauty (1994)': 182, 'Black Sheep (1996)': 183, 'Blade Runner (1982)': 184, 'Blink (1994)': 185, 'Bliss (1997)': 186, 'Blob, The (1958)': 187, 'Blood & Wine (1997)': 188, 'Blood Beach (1981)': 189, "Blood For Dracula (Andy Warhol's Dracula) (1974)": 190, 'Bloodsport 2 (1995)': 191, 'Bloody Child, The (1996)': 192, 'Blown Away (1994)': 193, 'Blue Angel, The (Blaue Engel, Der) (1930)': 194, 'Blue Chips (1994)': 195, 'Blue Sky (1994)': 196, 'Blue in the Face (1995)': 197, 'Blues Brothers 2000 (1998)': 198, 'Blues Brothers, The (1980)': 199, 'Bob Roberts (1992)': 200, 'Body Parts (1991)': 201, 'Body Snatcher, The (1945)': 202, 'Body Snatchers (1993)': 203, 'Bogus (1996)': 204, 'Bonheur, Le (1965)': 205, 'Bonnie and Clyde (1967)': 206, 'Boogie Nights (1997)': 207, 'Boomerang (1992)': 208, 'Boot, Das (1981)': 209, 'Booty Call (1997)': 210, 'Bottle Rocket (1996)': 211, 'Bound (1996)': 212, 'Boxing Helena (1993)': 213, "Boy's Life 2 (1997)": 214, 'Boys (1996)': 215, 'Boys Life (1995)': 216, 'Boys in Venice (1996)': 217, 'Boys of St. Vincent, The (1993)': 218, 'Boys on the Side (1995)': 219, 'Boys, Les (1997)': 220, 'Brady Bunch Movie, The (1995)': 221, 'Braindead (1992)': 222, "Bram Stoker's Dracula (1992)": 223, 'Brassed Off (1996)': 224, 'Braveheart (1995)': 225, 'Brazil (1985)': 226, 'Bread and Chocolate (Pane e cioccolata) (1973)': 227, 'Breakdown (1997)': 228, "Breakfast at Tiffany's (1961)": 229, 'Breaking the Waves (1996)': 230, 'Bride of Frankenstein (1935)': 231, 'Bridge on the River Kwai, The (1957)': 232, 'Bridges of Madison County, The (1995)': 233, 'Bringing Up Baby (1938)': 234, 'Broken Arrow (1996)': 235, 'Broken English (1996)': 236, 'Bronx Tale, A (1993)': 237, 'Brother Minister: The Assassination of Malcolm X (1994)': 238, "Brother's Kiss, A (1997)": 239, 'Brothers McMullen, The (1995)': 240, 'Brothers in Trouble (1995)': 241, 'Browning Version, The (1994)': 242, 'Buddy (1997)': 243, 'Bulletproof (1996)': 244, 'Bullets Over Broadway (1994)': 245, 'Burnt By the Sun (1994)': 246, 'Burnt Offerings (1976)': 247, 'Bushwhacked (1995)': 248, 'Butch Cassidy and the Sundance Kid (1969)': 249, 'Butcher Boy, The (1998)': 250, 'Butterfly Kiss (1995)': 251, 'Bye Bye, Love (1995)': 252, "C'est arrivé près de chez vous (1992)": 253, 'Cabin Boy (1994)': 254, 'Cable Guy, The (1996)': 255, 'Calendar Girl (1993)': 256, 'Canadian Bacon (1994)': 257, 'Candidate, The (1972)': 258, 'Candyman (1992)': 259, 'Candyman: Farewell to the Flesh (1995)': 260, 'Cape Fear (1962)': 261, 'Cape Fear (1991)': 262, 'Captives (1994)': 263, 'Career Girls (1997)': 264, 'Careful (1992)': 265, "Carlito's Way (1993)": 266, 'Carmen Miranda: Bananas Is My Business (1994)': 267, 'Caro Diario (Dear Diary) (1994)': 268, 'Carpool (1996)': 269, 'Carrie (1976)': 270, 'Carried Away (1996)': 271, 'Carrington (1995)': 272, 'Casablanca (1942)': 273, 'Casino (1995)': 274, 'Casper (1995)': 275, 'Castle Freak (1995)': 276, 'Cat People (1982)': 277, 'Cat on a Hot Tin Roof (1958)': 278, "Cats Don't Dance (1997)": 279, 'Catwalk (1995)': 280, 'Caught (1996)': 281, 'Celestial Clockwork (1994)': 282, 'Celluloid Closet, The (1995)': 283, 'Celtic Pride (1996)': 284, 'Cement Garden, The (1993)': 285, 'Cemetery Man (Dellamorte Dellamore) (1994)': 286, 'Century (1993)': 287, 'Chain Reaction (1996)': 288, 'Chairman of the Board (1998)': 289, 'Chamber, The (1996)': 290, 'Charade (1963)': 291, 'Chasers (1994)': 292, 'Chasing Amy (1997)': 293, 'Children of the Corn: The Gathering (1996)': 294, 'Children of the Revolution (1996)': 295, 'Chinatown (1974)': 296, 'Christmas Carol, A (1938)': 297, 'Chungking Express (1994)': 298, 'Ciao, Professore! (1993)': 299, 'Cinderella (1950)': 300, 'Cinema Paradiso (1988)': 301, 'Circle of Friends (1995)': 302, 'Citizen Kane (1941)': 303, 'Citizen Ruth (1996)': 304, 'City Hall (1996)': 305, "City Slickers II: The Legend of Curly's Gold (1994)": 306, 'City of Angels (1998)': 307, 'City of Industry (1997)': 308, 'City of Lost Children, The (1995)': 309, 'Clean Slate (1994)': 310, 'Clean Slate (Coup de Torchon) (1981)': 311, 'Clear and Present Danger (1994)': 312, 'Clerks (1994)': 313, 'Client, The (1994)': 314, 'Cliffhanger (1993)': 315, 'Clockers (1995)': 316, 'Clockwork Orange, A (1971)': 317, 'Close Shave, A (1995)': 318, 'Clueless (1995)': 319, 'Cobb (1994)': 320, 'Cold Comfort Farm (1995)': 321, 'Coldblooded (1995)': 322, 'Collectionneuse, La (1967)': 323, 'Colonel Chabert, Le (1994)': 324, 'Color of Night (1994)': 325, 'Commandments (1997)': 326, 'Con Air (1997)': 327, 'Conan the Barbarian (1981)': 328, 'Condition Red (1995)': 329, 'Coneheads (1993)': 330, 'Congo (1995)': 331, 'Conspiracy Theory (1997)': 332, 'Contact (1997)': 333, 'Contempt (Mépris, Le) (1963)': 334, 'Convent, The (Convento, O) (1995)': 335, 'Cook the Thief His Wife & Her Lover, The (1989)': 336, 'Cool Hand Luke (1967)': 337, 'Cool Runnings (1993)': 338, 'Cop Land (1997)': 339, 'Cops and Robbersons (1994)': 340, 'Copycat (1995)': 341, 'Corrina, Corrina (1994)': 342, 'Cosi (1996)': 343, 'Country Life (1994)': 344, 'Courage Under Fire (1996)': 345, 'Cowboy Way, The (1994)': 346, 'Craft, The (1996)': 347, 'Crash (1996)': 348, 'Crimson Tide (1995)': 349, 'Critical Care (1997)': 350, 'Cronos (1992)': 351, 'Crooklyn (1994)': 352, 'Crossfire (1947)': 353, 'Crossing Guard, The (1995)': 354, 'Crow, The (1994)': 355, 'Crow: City of Angels, The (1996)': 356, 'Crows and Sparrows (1949)': 357, 'Crucible, The (1996)': 358, 'Crude Oasis, The (1995)': 359, 'Crumb (1994)': 360, 'Cry, the Beloved Country (1995)': 361, 'Crying Game, The (1992)': 362, 'Curdled (1996)': 363, 'Cure, The (1995)': 364, 'Cutthroat Island (1995)': 365, 'Cyclo (1995)': 366, 'Cyrano de Bergerac (1990)': 367, 'Cérémonie, La (1995)': 368, 'D3: The Mighty Ducks (1996)': 369, 'Dadetown (1995)': 370, 'Daens (1992)': 371, 'Damsel in Distress, A (1937)': 372, 'Dances with Wolves (1990)': 373, 'Dangerous Beauty (1998)': 374, 'Dangerous Ground (1997)': 375, 'Dangerous Minds (1995)': 376, "Daniel Defoe's Robinson Crusoe (1996)": 377, "Dante's Peak (1997)": 378, 'Dark City (1998)': 379, 'Dave (1993)': 380, 'Davy Crockett, King of the Wild Frontier (1955)': 381, 'Day the Earth Stood Still, The (1951)': 382, 'Day the Sun Turned Cold, The (Tianguo niezi) (1994)': 383, 'Daylight (1996)': 384, 'Days of Thunder (1990)': 385, 'Daytrippers, The (1996)': 386, 'Dazed and Confused (1993)': 387, 'Dead Man (1995)': 388, 'Dead Man Walking (1995)': 389, 'Dead Poets Society (1989)': 390, 'Dead Presidents (1995)': 391, 'Dear God (1996)': 392, 'Death and the Maiden (1994)': 393, 'Death in Brunswick (1991)': 394, 'Death in the Garden (Mort en ce jardin, La) (1956)': 395, 'Deceiver (1997)': 396, 'Deconstructing Harry (1997)': 397, 'Deep Rising (1998)': 398, 'Deer Hunter, The (1978)': 399, 'Delicatessen (1991)': 400, 'Delta of Venus (1994)': 401, 'Demolition Man (1993)': 402, 'Denise Calls Up (1995)': 403, 'Desert Winds (1995)': 404, 'Designated Mourner, The (1997)': 405, 'Desperado (1995)': 406, 'Desperate Measures (1998)': 407, 'Destiny Turns on the Radio (1995)': 408, 'Devil in a Blue Dress (1995)': 409, "Devil's Advocate, The (1997)": 410, "Devil's Own, The (1997)": 411, 'Diabolique (1996)': 412, 'Dial M for Murder (1954)': 413, 'Die Hard (1988)': 414, 'Die Hard 2 (1990)': 415, 'Die Hard: With a Vengeance (1995)': 416, 'Die xue shuang xiong (Killer, The) (1989)': 417, 'Dingo (1992)': 418, 'Dirty Dancing (1987)': 419, 'Disclosure (1994)': 420, 'Diva (1981)': 421, 'Dolores Claiborne (1994)': 422, 'Don Juan DeMarco (1995)': 423, "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)": 424, 'Donnie Brasco (1997)': 425, 'Doom Generation, The (1995)': 426, 'Doors, The (1991)': 427, 'Double Happiness (1994)': 428, 'Double Team (1997)': 429, 'Double vie de Véronique, La (Double Life of Veronique, The) (1991)': 430, 'Down Periscope (1996)': 431, 'Down by Law (1986)': 432, 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)': 433, 'Dracula: Dead and Loving It (1995)': 434, 'Dragonheart (1996)': 435, 'Dream Man (1995)': 436, 'Dream With the Fishes (1997)': 437, 'Drop Dead Fred (1991)': 438, 'Drop Zone (1994)': 439, 'Drunks (1995)': 440, 'Duck Soup (1933)': 441, 'Dumb & Dumber (1994)': 442, 'Dumbo (1941)': 443, 'Dunston Checks In (1996)': 444, 'Duoluo tianshi (1995)': 445, 'E.T. the Extra-Terrestrial (1982)': 446, 'East of Eden (1955)': 447, 'Eat Drink Man Woman (1994)': 448, 'Ed (1996)': 449, 'Ed Wood (1994)': 450, "Ed's Next Move (1996)": 451, 'Eddie (1996)': 452, 'Edge, The (1997)': 453, 'Eighth Day, The (1996)': 454, 'Emma (1996)': 455, 'Empire Strikes Back, The (1980)': 456, 'Enchanted April (1991)': 457, 'Endless Summer 2, The (1994)': 458, "Enfer, L' (1994)": 459, 'English Patient, The (1996)': 460, 'Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)': 461, 'Entertaining Angels: The Dorothy Day Story (1996)': 462, 'Eraser (1996)': 463, 'Escape from L.A. (1996)': 464, 'Escape from New York (1981)': 465, 'Escape to Witch Mountain (1975)': 466, 'Etz Hadomim Tafus (Under the Domin Tree) (1994)': 467, "Eve's Bayou (1997)": 468, 'Even Cowgirls Get the Blues (1993)': 469, 'Evening Star, The (1996)': 470, 'Event Horizon (1997)': 471, 'Everest (1998)': 472, 'Every Other Weekend (1990)': 473, 'Everyone Says I Love You (1996)': 474, 'Evil Dead II (1987)': 475, 'Evita (1996)': 476, 'Excess Baggage (1997)': 477, 'Executive Decision (1996)': 478, 'Exit to Eden (1994)': 479, 'Exotica (1994)': 480, 'Extreme Measures (1996)': 481, 'Eye for an Eye (1996)': 482, "Eye of Vichy, The (Oeil de Vichy, L') (1993)": 483, 'Face/Off (1997)': 484, 'Faces (1968)': 485, 'Fair Game (1995)': 486, 'FairyTale: A True Story (1997)': 487, 'Faithful (1996)': 488, 'Fall (1997)': 489, 'Fallen (1998)': 490, 'Falling in Love Again (1980)': 491, 'Family Thing, A (1996)': 492, 'Fan, The (1996)': 493, 'Fantasia (1940)': 494, 'Far From Home: The Adventures of Yellow Dog (1995)': 495, 'Farewell My Concubine (1993)': 496, 'Farewell to Arms, A (1932)': 497, 'Fargo (1996)': 498, 'Farinelli: il castrato (1994)': 499, 'Farmer & Chase (1995)': 500, 'Fast, Cheap & Out of Control (1997)': 501, 'Faster Pussycat! Kill! Kill! (1965)': 502, 'Fatal Instinct (1993)': 503, 'Father of the Bride (1950)': 504, 'Father of the Bride Part II (1995)': 505, "Fathers' Day (1997)": 506, 'Faust (1994)': 507, 'Fausto (1993)': 508, 'Favor, The (1994)': 509, 'Fear (1996)': 510, 'Fear of a Black Hat (1993)': 511, 'Fear, The (1995)': 512, 'Fearless (1993)': 513, 'Feast of July (1995)': 514, 'Feeling Minnesota (1996)': 515, 'Female Perversions (1996)': 516, 'Field of Dreams (1989)': 517, 'Fierce Creatures (1997)': 518, 'Fifth Element, The (1997)': 519, 'Fille seule, La (A Single Girl) (1995)': 520, 'Fire Down Below (1997)': 521, 'Fire on the Mountain (1996)': 522, 'Firestorm (1998)': 523, 'Firm, The (1993)': 524, 'First Kid (1996)': 525, 'First Knight (1995)': 526, 'First Wives Club, The (1996)': 527, 'Fish Called Wanda, A (1988)': 528, 'Fled (1996)': 529, 'Flesh and Bone (1993)': 530, 'Flintstones, The (1994)': 531, 'Flipper (1996)': 532, 'Flirt (1995)': 533, 'Flirting With Disaster (1996)': 534, 'Flower of My Secret, The (Flor de mi secreto, La) (1995)': 535, 'Flubber (1997)': 536, 'Fluke (1995)': 537, 'Fly Away Home (1996)': 538, 'Fog, The (1980)': 539, 'Fools Rush In (1997)': 540, 'For Ever Mozart (1996)': 541, 'For Love or Money (1993)': 542, 'For Richer or Poorer (1997)': 543, 'For Whom the Bell Tolls (1943)': 544, 'For the Moment (1994)': 545, 'Forbidden Christ, The (Cristo proibito, Il) (1950)': 546, 'Forbidden Planet (1956)': 547, 'Foreign Correspondent (1940)': 548, 'Foreign Student (1994)': 549, 'Forget Paris (1995)': 550, 'Forrest Gump (1994)': 551, 'Four Days in September (1997)': 552, 'Four Rooms (1995)': 553, 'Four Weddings and a Funeral (1994)': 554, 'Fox and the Hound, The (1981)': 555, 'Foxfire (1996)': 556, 'Frankie Starlight (1995)': 557, 'Free Willy (1993)': 558, 'Free Willy 2: The Adventure Home (1995)': 559, 'Free Willy 3: The Rescue (1997)': 560, 'Freeway (1996)': 561, 'French Kiss (1995)': 562, 'French Twist (Gazon maudit) (1995)': 563, 'Fresh (1994)': 564, 'Friday (1995)': 565, 'Fried Green Tomatoes (1991)': 566, 'Frighteners, The (1996)': 567, 'Frisk (1995)': 568, 'From Dusk Till Dawn (1996)': 569, 'Fugitive, The (1993)': 570, 'Full Metal Jacket (1987)': 571, 'Full Monty, The (1997)': 572, 'Full Speed (1996)': 573, 'Funeral, The (1996)': 574, 'Funny Face (1957)': 575, 'Further Gesture, A (1996)': 576, 'G.I. Jane (1997)': 577, 'Gabbeh (1996)': 578, 'Game, The (1997)': 579, 'Gandhi (1982)': 580, 'Gang Related (1997)': 581, 'Garden of Finzi-Contini, The (Giardino dei Finzi-Contini, Il) (1970)': 582, 'Gaslight (1944)': 583, 'Gate of Heavenly Peace, The (1995)': 584, 'Gattaca (1997)': 585, 'Gay Divorcee, The (1934)': 586, 'George of the Jungle (1997)': 587, 'Georgia (1995)': 588, 'Germinal (1993)': 589, 'Geronimo: An American Legend (1993)': 590, 'Get Shorty (1995)': 591, 'Get on the Bus (1996)': 592, 'Getaway, The (1994)': 593, 'Getting Away With Murder (1996)': 594, 'Getting Even with Dad (1994)': 595, 'Ghost (1990)': 596, 'Ghost and Mrs. Muir, The (1947)': 597, 'Ghost and the Darkness, The (1996)': 598, 'Ghost in the Shell (Kokaku kidotai) (1995)': 599, 'Ghosts of Mississippi (1996)': 600, 'Giant (1956)': 601, 'Gigi (1958)': 602, "Gilligan's Island: The Movie (1998)": 603, 'Girl 6 (1996)': 604, 'Girl in the Cadillac (1995)': 605, 'Girls Town (1996)': 606, 'Glass Shield, The (1994)': 607, 'Glengarry Glen Ross (1992)': 608, 'Glimmer Man, The (1996)': 609, 'Glory (1989)': 610, 'Go Fish (1994)': 611, 'Godfather, The (1972)': 612, 'Godfather: Part II, The (1974)': 613, 'Gold Diggers: The Secret of Bear Mountain (1995)': 614, 'Golden Earrings (1947)': 615, 'GoldenEye (1995)': 616, "Gone Fishin' (1997)": 617, 'Gone with the Wind (1939)': 618, 'Good Man in Africa, A (1994)': 619, 'Good Morning (1971)': 620, 'Good Will Hunting (1997)': 621, 'Good, The Bad and The Ugly, The (1966)': 622, 'GoodFellas (1990)': 623, 'Goofy Movie, A (1995)': 624, 'Gordy (1995)': 625, 'Grace of My Heart (1996)': 626, 'Graduate, The (1967)': 627, 'Grand Day Out, A (1992)': 628, 'Grass Harp, The (1995)': 629, 'Grateful Dead (1995)': 630, 'Grease (1978)': 631, 'Grease 2 (1982)': 632, 'Great Day in Harlem, A (1994

In [31]:
case_insensitive_movies_list = [i.lower() for i in movies_list]

Fitting a KNN model:

In [32]:
knn_movie_model = NearestNeighbors(metric='cosine', algorithm='brute')
knn_movie_model.fit(movie_to_user_sparse_df)

NearestNeighbors(algorithm='brute', metric='cosine')

In [33]:
## function to find top n similar users of the given input user 
def get_similar_movies(movie, n = 10):
  ## input to this function is the movie and number of top similar movies you want.
  index = movie_dict[movie]
  knn_input = np.asarray([movie_to_user_df.values[index]])
  n = min(len(movies_list)-1,n)
  distances, indices = knn_movie_model.kneighbors(knn_input, n_neighbors=n+1)
  
  print("Top",n,"movies which are very much similar to the Movie-",movie, "are: ")
  print(" ")
  for i in range(1,len(distances[0])):
    print(movies_list[indices[0][i]])

Testing the recommender system with basic input with the movie names

In [34]:
from pprint import pprint
movie_name = '101 Dalmatians (1996)'

get_similar_movies(movie_name,15)

Top 15 movies which are very much similar to the Movie- 101 Dalmatians (1996) are:

Jack (1996)
Twister (1996)
Willy Wonka and the Chocolate Factory (1971)
Independence Day (ID4) (1996)
Toy Story (1995)
Father of the Bride Part II (1995)
Hunchback of Notre Dame, The (1996)
Lion King, The (1994)
Mrs. Doubtfire (1993)
Jungle Book, The (1994)
Grumpier Old Men (1995)
Mission: Impossible (1996)
Mr. Holland's Opus (1995)
Homeward Bound II: Lost in San Francisco (1996)
Dragonheart (1996)

Observation on above built KNN Recommender System:

An interesting observation would be that the above KNN model for movies recommends movies that are produced in very similar years of the input movie. However, the cosine distance of all those recommendations are observed to be actually quite small. This might be because there are too many zero values in our movie-user matrix. With too many zero values in our data, the data sparsity becomes a real issue for KNN model and the distance in KNN model starts to fall apart.